.events-wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
}

.fall-text {
  font-size: 2rem;
  color: #111;
  letter-spacing: 1px;
  margin: 0;
}

.fall-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-60px);
  animation: fallDown 0.6s ease forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

@keyframes fallDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  70% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.puzzle-slider {
  perspective: 1000px;
  margin: 2rem auto;
  max-width: 90vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 0; /* sin líneas blancas */
  width: 100%;
  aspect-ratio: 3/2; /* ajustar según tus imágenes */
}

.tile {
  width: 100%;
  height: 100%;
  background-size: 2000% 2000%; /* cols x rows */
  background-repeat: no-repeat;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.next-btn {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background: #1c8c3a;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.next-btn:hover {
  background: #166b2b;
}
