<article class="recipe-card" *ngIf="recipe">
  <!-- TÍTULO DETALLE ENCIMA DE LA IMAGEN -->

  <!-- IMAGEN / SLIDER -->
  <div class="image-slider">
    <!-- Swiper -->
    <swiper-container
      navigation="true"
      pagination="true"
      loop="true"
      class="image-slider detail"
      style="
        --swiper-navigation-color: #d4af37;
        --swiper-navigation-size: 20px;
        --swiper-pagination-color: #d4af37;
      "
    >
      <swiper-slide *ngFor="let img of images">
        <img [src]="img" [alt]="recipe.title" class="slider-image" />
      </swiper-slide>
    </swiper-container>

    <!-- LIKE -->
    <button
      *ngIf="showLikeButton"
      class="like-btn like-counter"
      [class.active]="isFavorite"
      (click)="toggleLike($event)"
      aria-label="Me gusta"
    >
      <span class="heart">♥</span>
      <span class="count">{{ likesCount }}</span>
    </button>

    <!-- SHARE -->
    <div class="bottom-buttons">
      <button
        *ngIf="showShareButton"
        class="share-icon"
        aria-label="Compartir"
        (click)="copyLink()"
      >
        <img src="assets/images/share.webp" alt="Compartir" />
      </button>

      <span class="copy-msg" *ngIf="copied">¡Link copiado!</span>
    </div>
  </div>

  <!-- CONTENIDO -->
  <div class="card-content">
    <h1 class="title" [ngClass]="{ 'large-title': titleSize === 'large' }">
      {{ recipe.title }}
    </h1>

    <p class="card-text">{{ shortText }}<span *ngIf="showEllipsis">…</span></p>

    <!-- Ingredientes -->
    <section class="ingredients" *ngIf="showIngredients && recipe.ingredients.length">
      <h3>Ingredientes</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.quantity ? ingredient.quantity + ' ' : '' }}{{ ingredient.name }}
        </li>
      </ul>
    </section>
    <!-- Preparación -->
    <section class="long-description" *ngIf="showLongDescription && recipe.longDescription">
      <h3>Preparación</h3>
      <p style="white-space: pre-line">{{ recipe.longDescription }}</p>
    </section>

    <!-- Autor -->
    <div class="author">
      <!--   <img
        [src]="recipe.author?.avatar || 'assets/images/profile.webp'"
        alt="Autor"
        class="avatar"
      />-->
      <img [src]="'assets/images/yo.webp'" alt="Autor" class="avatar" />

      <div class="author-info">
        <span class="author-name">{{ recipe.author?.name }}</span>
        <a class="author-link" [routerLink]="['/perfil', recipe.author?.id]">Ver sus recetas</a>
      </div>
    </div>
  </div>
  <!-- Botón quitar favoritos -->
  <div class="recipe-actions" *ngIf="showRemoveFavorite">
    <button type="button" (click)="removeFavorite()" class="remove-btn">
      ❌ Quitar de favoritos
    </button>
  </div>

  <a class="view-recipe-full" [routerLink]="['/recipe', recipe.id]"> VER RECETA </a>
</article>
