.my-account {
  margin-top: 87px;
  margin-bottom: 87px;
  padding: 1rem;
  text-align: center;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}

.account-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
  justify-items: center; // centra las cards

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}

.account-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  text-decoration: none;
  color: #111;
  font-weight: 700;
  font-size: 1.3rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
  }

  &:active {
    transform: scale(0.98);
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
  }

  span {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    line-height: 1.3;
    font-size: 1.2rem;
  }
}
