.favorites-wrapper {
  padding: 0 1rem;
  text-align: center;

  .title-row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .favorites-wrapper {
    .title-row {
      gap: 0.2rem;

      h1 {
        font-size: 1.4rem;
      }
    }
  }
}

/* Botones de vista */
.botones-vista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;

  svg {
    width: 28px;
    height: 28px;
    color: #555;
    transition: color 0.2s ease;

    &:hover {
      color: #000;
    }
  }
}

/* TEXTO GENERAL */
p {
  font-size: 1rem;
  margin-top: 1rem;
}

/* MODAL */
.draft-modal {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: #fff9e4;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    max-width: 360px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    h3 {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }

    p {
      margin-bottom: 1.5rem;
      color: #555;
    }

    .modal-actions {
      display: flex;
      gap: 10px;
      justify-content: space-around;

      button {
        padding: 8px 20px;
        border-radius: 25px;
        border: none;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s;

        &.btn-cancel {
          background-color: #ddd;
        }

        &.btn-confirm {
          background-color: var(--verde);
          color: #fff;
        }
      }
    }
  }
}
