.wrapper {
  margin-top: 87px;
  h1 {
    text-align: center;
  }
}
.my-recipes {
  max-width: 720px;
  margin: 87px auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .recipe-card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #fff9e4;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
    }

    .recipe-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        margin: 0;
      }
      .see-btn {
        background: green;
        color: #fff;
        border: none;
        border-radius: 25px;
        padding: 5px 15px;
        cursor: pointer;
        transition: all 0.3s ease; // transición suave para hover

        &:hover {
          /* mismo color, pero más opaco */
          filter: brightness(1.2);
          /* también puedes añadir sombra sutil */
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        &:active {
          transform: scale(0.97); // efecto al presionar
        }
      }

      .delete-btn {
        background: #fce065;
        border: none;
        border-radius: 25px;
        padding: 5px 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          filter: brightness(0.9); // más oscuro, sigue el mismo color
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }
}
