.wrapper {
  max-width: 900px;
  margin: 100px auto 2rem;
  padding: 0 1rem;
}

/* Título */
.my-recipes h1 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
}

/* Contenedor de los botones de vista */
.botones-vista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;

  svg {
    width: 28px;
    height: 28px;
    color: #555;
    transition: color 0.2s ease;

    &:hover {
      color: #000;
    }
  }
}

/* Mensaje cuando no hay recetas */
p {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-top: 2rem;
}
/* Para la flechita atrás*/

.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}
