<div class="restaurant-card">
  <img [src]="image" [alt]="name" class="restaurant-image" />
  <div class="restaurant-info">
    <h3>{{ name }}</h3>
    <p><strong>Ciudad:</strong> {{ city }}</p>
    <p><strong>Teléfono:</strong> {{ phone }}</p>
    <div class="contact-row">
      <span class="label">Email:</span>

      <span class="email-chip" (click)="showEmail = !showEmail">
        {{ showEmail ? email : (email | slice: 0 : 2) + '***@***.com' }}
      </span>
    </div>

    <p *ngIf="catering"><strong>Catering:</strong> {{ catering }}</p>
    <p>
      <a *ngIf="web" [href]="web" target="_blank" rel="noopener noreferrer" class="web-link">
        Visitar web
      </a>
    </p>
  </div>
</div>
