.btn-back {
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--verde-oscuro);
    transform: scale(1.05);
  }
}
