<div class="wrapper">
  <!-- Barra de búsqueda reutilizable -->
  <app-search-bar (search)="searchTerm = $event"></app-search-bar>

  <!-- Scrollable bar de categorías -->
  <div class="scrollmenu">
    <a href="#">Destacados</a>
    <a href="#">Fáciles</a>
    <a href="#">Desayuno</a>
    <a href="#">Repostería</a>
    <a href="#">Últimas</a>
    <a href="#">Más populares</a>
    <a href="#">Veganos</a>
    <a href="#">Para niños</a>
  </div>

  <!-- Hero image -->
  <div class="hero-image">
    <img
      src="assets/images/hero-image.webp"
      alt="Hero image"
      class="hero-picture responsive-image"
    />

    <!-- SMOKE -->
    <div class="smoke-container">
      <div class="smoke-wrap">
        <img class="smoke" src="assets/images/vapor.webp" alt="smoke" />
      </div>
      <div class="smoke-wrap">
        <img class="smoke2" src="assets/images/vapor.webp" alt="smoke" />
      </div>
      <div class="smoke-wrap">
        <img class="smoke3" src="assets/images/vapor.webp" alt="smoke" />
      </div>
    </div>

    <!-- CONTENIDO -->
    <div class="content-container">
      <div class="hero-text">
        <h1>
          Elige tu receta <br />
          del día:
        </h1>
        <button class="arrow-button" (click)="chooseRandomRecipe()">
          <span class="gold-gradient-suerte">¡Suerte!</span>
          <span class="arrow">→</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Overlay Loader 
  <div *ngIf="isLoading" class="loader-overlay">
    <div #lottieContainer class="lottie-animation"></div>
  </div>
Otro:
  <div *ngIf="isLoading" class="loader-overlay">
    <video class="loader-video" autoplay loop muted playsinline>
      <source src="assets/images/rollin-dice.mp4" type="video/webm" />
      Tu navegador no soporta videos.
    </video>
  </div>-->
  <app-loader *ngIf="isLoading"></app-loader>
  <h1>Recetas destacadas</h1>

  <!-- Grid de recetas -->
  <div *ngIf="!isLoading" class="recipe-grid">
    <app-recipe-card
      *ngFor="let recipe of paginatedRecipes; trackBy: trackByRecipeId"
      [recipe]="recipe"
      [truncateShortDescription]="true"
      [shortDescriptionLength]="20"
    >
    </app-recipe-card>
  </div>

  <!-- Paginación -->
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">◀</button>

    <button
      *ngFor="let p of [].constructor(totalPages); let i = index"
      (click)="changePage(i + 1)"
      [class.active]="currentPage === i + 1"
    >
      {{ i + 1 }}
    </button>

    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">▶</button>
  </div>
</div>
