.recipe-detail {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;

  text-align: center;
  display: flex;
  flex-direction: column;

  .title-row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
  }

  .celebration {
    font-size: 1.1rem;
    color: green;
    margin-bottom: 1rem;
  }
}

.recipe-detail app-back-button {
  margin-top: 2rem; /* separa del recipe-card */
}
