.recipe-detail {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;

  text-align: center;
  display: flex;
  flex-direction: column;

  .celebration {
    font-size: 1.1rem;
    color: green;
    margin-bottom: 1rem;
  }
}

.back-button-wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
