<div class="wrapper">
  <!-- Barra de búsqueda reutilizable -->
  <app-search-bar (search)="searchTerm = $event"></app-search-bar>

  <!-- Scrollable bar de categorías -->
  <div class="scrollmenu">
    <a href="#">Destacados</a>
    <a href="#">Fáciles</a>
    <a href="#">Desayuno</a>
    <a href="#">Repostería</a>
    <a href="#">Últimas</a>
    <a href="#">Más populares</a>
    <a href="#">Veganos</a>
    <a href="#">Para niños</a>
  </div>

  <!-- Hero image -->
  <div class="hero-image">
    <img
      src="assets/images/hero-image.webp"
      alt="Hero image"
      class="hero-picture responsive-image"
    />

    <!-- SMOKE -->
    <div class="smoke-container">
      <div class="smoke-wrap">
        <img class="smoke" src="assets/images/vapor.png" alt="smoke" />
      </div>
      <div class="smoke-wrap">
        <img class="smoke2" src="assets/images/vapor.png" alt="smoke" />
      </div>
      <div class="smoke-wrap">
        <img class="smoke3" src="assets/images/vapor.png" alt="smoke" />
      </div>
    </div>

    <!-- CONTENIDO -->
    <div class="content-container">
      <div class="hero-text">
        <h1>
          Elige tu receta <br />
          del día:
        </h1>
        <button class="arrow-button" (click)="chooseRandomRecipe()">
          <span>¡Suerte!</span>
          <span class="arrow">→</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Overlay Loader -->
  <div *ngIf="isLoading" class="loader-overlay">
    <div class="dice-loader"></div>
    <!-- tu loader animado -->
  </div>

  <!-- Grid de recetas -->
  <div
    *ngIf="!isLoading"
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 cards-grid"
  >
    <app-recipe-card
      *ngFor="let recipe of filteredRecipes; trackBy: trackByRecipeId"
      [recipe]="recipe"
    >
    </app-recipe-card>
  </div>
</div>
